mat-card {
    width: 750px;
    margin: 0 auto;
}

form {
    text-align: center; 
}

button {
    margin-top: 2em;
}

mat-form-field, label {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

button {
    margin-bottom: 1rem;
    width: 75%;
    font-size: 1.5rem;
    color: darkblue;
    background-color: lightcyan;
    border: none;
    margin-top: 1rem;
}

.formContainer {
    background-color: lightskyblue;
    width: 90%;
    padding: 0 10%;
    margin: 1rem auto;
    text-align: center;
    color: darkblue;
}

.formContainer button:active {
    background-color: lightblue;
}

mat-card {
    width: 25rem;
    height: 15rem;
    margin: 0 auto;
    color: darkblue;
    background-color: lightskyblue;
}

mat-card mat-card-title {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

mat-card mat-card-subtitle {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: lightcyan;
}

mat-card mat-card-content {
    font-size: 1rem;
}

h1 {
    color: darkblue;
    text-align: center;
    margin-top: 0;
    border-bottom: 4px solid darkblue;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.67em;
}

.newTweet {
    background-color: lightblue;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}