<div class="formContainer">
  <form novalidate [formGroup]="rForm">
    <mat-form-field>
      <input matInput formControlName="email" name="email" placeholder="example@example.com">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="username" name="username" placeholder="Username: 5-15 Characters">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="createPassword" name="createPassword" placeholder="Password: 8-24 Characters">
      <!-- <p *myStructure="ABCabc123456">ABCabc123456</p> -->
    </mat-form-field>
    <button id="create">Create Account</button>
  </form>
</div>