.tweets {
    width: 90%;
    margin: 0 auto;
}

mat-card {
    width: 25rem;
    height: 15rem;
    margin: 0 auto;
    color: darkblue;
    background-color: lightskyblue;
}

mat-card mat-card-title {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

mat-card mat-card-subtitle {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: lightcyan;
}

mat-card mat-card-content {
    font-size: 1rem;
}