<div class="formContainer">
  <mat-form-field id="user">
    <input #username matInput placeholder="Username" maxlength="15">
  </mat-form-field>

  <mat-form-field id="location">
    <input #location matInput placeholder="Location" maxlength="30" #location>
  </mat-form-field>
  <br>
  <mat-form-field id="tweetContainer">
    <textarea #notTweet matInput placeholder="NotTweet" maxlength="140" rows="5"></textarea>
    <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
  </mat-form-field>
  <button id="tweet" (click)="postTweet(username.value, location.value, notTweet.value)">Post Your NotTweet!</button>
</div>