.formContainer {
    background-color: lightskyblue;
    width: 90%;
    padding: 0 10%;
    margin: 1rem auto;
    text-align: center;
    color: darkblue;
}

#user, #location {
    width: 49.5%;
}

#tweetContainer {
    width: 100%;
}
.formContainer #tweet {
    margin-bottom: 1rem;
    width: 75%;
    font-size: 1.5rem;
    color: darkblue;
    background-color: lightcyan;
    border: none;
}

.formContainer #tweet:active {
    background-color: lightblue;
}
